<div class="main">
  <div class="main__list">
    <div class="main__auction-container" *ngFor="let auction of auctions">
      <app-auction-short [auction]="auction" class="main__product" *ngIf="auction else placeholder"></app-auction-short>
    </div>
  </div>
  <nz-pagination (nzPageIndexChange)="onPageChanged($event)"
                 [nzHideOnSinglePage]="true"
                 [nzPageIndex]="currentAuctionsPage"
                 [nzPageSize]="1"
                 [nzResponsive]="true"
                 [nzTotal]="totalAuctionsPages"
                 class="pagination"></nz-pagination>
</div>

<ng-template #placeholder>
  <div class="main__product-placeholder">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </div>
</ng-template>
