@import "../styles/elements.css";
@import "../../styles.css";

.cabinet{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.cabinet__content{
  width: 100%;
  display: flex;
  height: calc(100% - 80px);
  overflow-y: auto;
  flex-direction: column;
  padding: 24px;
  background: linear-gradient(to right, rgb(64, 59, 74), rgb(231, 233, 187));
}

.cabinet__header{
  width: 100%;
  min-height: 80px;
  background: #29323c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  overflow: hidden;
}

.cabinet__exit{
  color: white;
  font-size: 18px;
  line-height: 24px;
  background: none;
  cursor: pointer;
  box-shadow: none;
  transition: all .3s ease-in-out;
}

.cabinet__user-info{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.cabinet__avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}

.cabinet__nickname{
  font-size: 18px;
  line-height: 26px;
  color: white;
}

.cabinet__user-content{
  display: flex;
  margin-right: 32px;
  background: none;
  transition: all .3s ease-in-out;
}

.cabinet__user-content:hover, .cabinet__exit:hover{
  cursor: pointer;
  color: lightgoldenrodyellow;
  background: rgba(221, 232, 152, 0.2);
  box-shadow: 0 0 45px 60px rgba(221, 232, 152, 0.2);
}

.cabinet__balance{
  color: goldenrod;
  font-size: 20px;
  line-height: 32px;
  display: flex;
}

.cabinet__balance-amount{
  margin-right: 8px;
}

.cabinet__gold{
  width: 28px;
  height: 28px;
}
