<div class="profile">
  <div class="go-back" (click)="onBackClick()">
    <img alt="back" src="assets/img/back_white.svg" class="modal__go-back-img">
    <div class="modal__go-back">Go back</div>
  </div>
  <div class="profile__container">
    <div class="profile__forms">
      <div class="profile__form-section">
        <form [formGroup]="changeEmailForm" class="profile__form" nz-form>
          <nz-form-item class="common-modal__item">
            <div class="profile__input-title">Your e-mail address</div>
            <nz-form-control nzErrorTip="Неверный формат почты" class="common-modal__field-control">
              <label><input placeholder="Email" class="common-modal__input email" formControlName="email" nz-input type="text"
              >
                <button [disabled]="disableEmailChange" class="profile__save-button email-button" (click)="onEmailChangeClick()">
                  Сохранить
                </button>
              </label>
            </nz-form-control>
          </nz-form-item>
        </form>
        <form [formGroup]="changeUsernameForm" class="profile__form" nz-form>
          <nz-form-item class="common-modal__item">
            <div class="profile__input-title">Your username</div>
            <nz-form-control nzErrorTip="Мин. 8 макс. 16" class="common-modal__field-control">
              <label><input placeholder="Nickname" class="common-modal__input" formControlName="username" nz-input
                            type="text"
              >
                <button [disabled]="disableUsernameChange" class="profile__save-button"
                        (click)="onUsernameChangeClick()">Сохранить
                </button>
              </label>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
      <div class="profile__form-section">
        <form [formGroup]="changeNameForm" class="profile__form" nz-form>
          <nz-form-item class="common-modal__item">
            <div class="profile__input-title">Your name</div>
            <nz-form-control nzErrorTip="Мин. 8 макс. 16" class="common-modal__field-control">
              <label><input placeholder="Name" class="common-modal__input" formControlName="name" nz-input type="text"
              >
                <button [disabled]="disableNameChange" class="profile__save-button" (click)="onNameChangeClick()">
                  Сохранить
                </button>
              </label>
            </nz-form-control>
          </nz-form-item>
        </form>
        <form [formGroup]="changeMobileForm" class="profile__form" nz-form>
          <nz-form-item class="common-modal__item">
            <div class="profile__input-title">Your mobile phone</div>
            <nz-form-control nzErrorTip="Неверный формат телефона" class="common-modal__field-control">
              <label><input placeholder="Phone" class="common-modal__input" formControlName="mobile" nz-input
                            type="text"
              >
                <button [disabled]="disableMobileChange" class="profile__save-button" (click)="onMobileChangeClick()">
                  Сохранить
                </button>
              </label>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div class="profile__options">
      <div class="profile__types">
        <div class="profile__type products" (click)="onTypeClick(profileListType.PRODUCTS)"
             [class.profile__type_active]="chosenType === profileListType.PRODUCTS">Products
        </div>
        <div class="profile__type auctions" (click)="onTypeClick(profileListType.AUCTIONS)"
             [class.profile__type_active]="chosenType === profileListType.AUCTIONS">Auctions
        </div>
      </div>

      <div class="profile__create-button active-button" (click)="onCreateClick()">
        <img alt="add" class="profile__create-button-img" src="assets/img/add-plus.svg">
        <div class="profile__create-button-text create">Create</div>
      </div>
    </div>
    <div class="profile__list-container" *ngIf="chosenType === profileListType.PRODUCTS">
      <div *ngIf="userProducts.length > 0 else noProducts" class="profile__list profile__list_products">
        <div class="profile__product-container" *ngFor="let item of userProducts">
          <app-product *ngIf="item else placeholder"
                       [product]="item"
                       [onDelete]="deleteProduct"
                       [onEdit]="updateProduct"
                       [onAuctionCreate]="openAuctionModalWithProduct"></app-product>
        </div>
      </div>
      <nz-pagination (nzPageIndexChange)="updateUserProducts($event)"
                     [nzHideOnSinglePage]="true"
                     [nzPageIndex]="currentProductsPage"
                     [nzPageSize]="1"
                     [nzResponsive]="true"
                     [nzTotal]="totalProductsPages"
                     class="pagination"></nz-pagination>
    </div>
    <div class="profile__list-container" *ngIf="chosenType === profileListType.AUCTIONS">
      <div *ngIf="userAuctions.length > 0 else noAuctions" class="profile__list profile__list_auctions">
        <div class="profile__auction-container" *ngFor="let item of userAuctions">
          <app-auction-short *ngIf="item else placeholder"
                             [auction]="item"></app-auction-short>
        </div>
      </div>
      <nz-pagination (nzPageIndexChange)="updateUserAuctions($event)"
                     [nzHideOnSinglePage]="true"
                     [nzPageIndex]="currentAuctionsPage"
                     [nzPageSize]="1"
                     [nzResponsive]="true"
                     [nzTotal]="totalAuctionsPages"
                     class="pagination"></nz-pagination>
    </div>
  </div>
</div>

<ng-template #noProducts>
  <div class="profile__no-products">
    <img alt="no-data" class="profile__no-content" src="assets/img/no-data.svg">
    <div class="profile__no-products-text">You do not have any products yet</div>
    <div class="profile__no-products-button create-button" (click)="openProductModal()">Create</div>
  </div>
</ng-template>

<ng-template #noAuctions>
  <div class="profile__no-auctions">
    <img alt="no-data" class="profile__no-content" src="assets/img/no-data.svg">
    <div class="profile__no-auctions-text">You do not have any auctions yet</div>
    <div class="profile__no-auctions-button create-button" (click)="openAuctionModal()">Create</div>
  </div>
</ng-template>

<app-product-modal [success]="successProductCreation"
                   [cancel]="closeProductModal"
                   [isActive]="isProductModalOpened"></app-product-modal>

<app-auction-modal [success]="successAuctionCreation"
                   [cancel]="closeAuctionModal"
                   [isActive]="isAuctionModalOpened"
                   [product]="productForAuctionModal"></app-auction-modal>

<ng-template #placeholder>
  <div class="placeholder">
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </div>
</ng-template>
