<div class="profile">
  <div class="profile__container">
    <div class="profile__forms">
      <div class="profile__form-section">
        <form [formGroup]="changeEmailForm" class="profile__form" nz-form>
          <nz-form-item class="common-modal__item">
            <div class="profile__input-title">Your e-mail address</div>
            <nz-form-control nzErrorTip="Неверный формат почты" class="common-modal__field-control">
              <label><input placeholder="Email" class="common-modal__input" formControlName="email" nz-input type="text"
              >
                <button [disabled]="disableEmailChange" class="profile__save-button" (click)="onEmailChangeClick()">
                  Сохранить
                </button>
              </label>
            </nz-form-control>
          </nz-form-item>
        </form>
        <form [formGroup]="changeUsernameForm" class="profile__form" nz-form>
          <nz-form-item class="common-modal__item">
            <div class="profile__input-title">Your username</div>
            <nz-form-control nzErrorTip="Мин. 8 макс. 16" class="common-modal__field-control">
              <label><input placeholder="Nickname" class="common-modal__input" formControlName="username" nz-input
                            type="text"
              >
                <button [disabled]="disableUsernameChange" class="profile__save-button"
                        (click)="onUsernameChangeClick()">Сохранить
                </button>
              </label>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
      <div class="profile__form-section">
        <form [formGroup]="changeNameForm" class="profile__form" nz-form>
          <nz-form-item class="common-modal__item">
            <div class="profile__input-title">Your name</div>
            <nz-form-control nzErrorTip="Мин. 8 макс. 16" class="common-modal__field-control">
              <label><input placeholder="Name" class="common-modal__input" formControlName="name" nz-input type="text"
              >
                <button [disabled]="disableNameChange" class="profile__save-button" (click)="onNameChangeClick()">
                  Сохранить
                </button>
              </label>
            </nz-form-control>
          </nz-form-item>
        </form>
        <form [formGroup]="changeMobileForm" class="profile__form" nz-form>
          <nz-form-item class="common-modal__item">
            <div class="profile__input-title">Your mobile phone</div>
            <nz-form-control nzErrorTip="Неверный формат телефона" class="common-modal__field-control">
              <label><input placeholder="Phone" class="common-modal__input" formControlName="mobile" nz-input
                            type="text"
              >
                <button [disabled]="disableMobileChange" class="profile__save-button" (click)="onMobileChangeClick()">
                  Сохранить
                </button>
              </label>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
    <div class="profile__types">
      <div class="profile__type" (click)="onTypeClick(profileListType.PRODUCTS)"
           [class.profile__type_active]="chosenType === profileListType.PRODUCTS">Products
      </div>
      <div class="profile__type" (click)="onTypeClick(profileListType.AUCTIONS)"
           [class.profile__type_active]="chosenType === profileListType.AUCTIONS">Auctions
      </div>
    </div>
    <div class="profile__list-container" *ngIf="chosenType === profileListType.PRODUCTS">
      <div *ngIf="user.products.length > 0 else noProducts" class="profile__list profile__list_products">
        <div class="profile__product product-item" *ngFor="let item of user.products">
          <div class="product-item__title">
            <div class="product-item__name">{{item.title}}</div>
            <div class="product-item__price">{{item.price}}</div>
            <div class="product-item__close" (click)="deleteProduct(item.id)">delete</div>
          </div>
          <img alt="photo" [src]="item.photo || imageConstants.NO_PHOTO" class="product-item__info-photo">
          <div class="product-item__info-description">{{item.description}}</div>
        </div>
      </div>
    </div>
    <div class="profile__list-container" *ngIf="chosenType === profileListType.AUCTIONS">
      <div *ngIf="user.auctions.length > 0 else noAuctions" class="profile__list profile__list_auctions">
        <div class="profile__auction auction-item" *ngFor="let item of user.auctions">
          <div class="auction-item__title">
            <div class="auction-item__title-header">
              <div class="auction-item__id">{{item.id}}</div>
              <div class="auction-item__status">{{item.status}}</div>
            </div>
            <div class="auction-item__title-info">
              <div class="auction-item__product">{{item.productId}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noProducts>
  <div class="profile__no-products">
    <img alt="no-data" class="profile__no-content" src="assets/img/no-data.svg">
    <div class="profile__no-products-text">You do not have any products yet</div>
    <div class="profile__no-products-button create-button" (click)="openProductModal()">Create</div>
  </div>
</ng-template>

<ng-template #noAuctions>
  <div class="profile__no-auctions">
    <img alt="no-data" class="profile__no-content" src="assets/img/no-data.svg">
    <div class="profile__no-auctions-text">You do not have any auctions yet</div>
    <div class="profile__no-auctions-button create-button" (click)="openAuctionModal()">Create</div>
  </div>
</ng-template>

<app-product-modal [onSuccess]="successProductCreation"
                   [onCancel]="closeProductModal"
                   [isActive]="isProductModalOpened"></app-product-modal>

<app-auction-modal [onSuccess]="successAuctionCreation"
                   [onCancel]="closeAuctionModal"
                   [isActive]="isAuctionModalOpened"></app-auction-modal>
