/* You can add global styles to this file, and also import other style files */


/* MODAL STYLES */

.common-modal, .common-modal .ant-modal-content{
  background: #ECECEC;
  border-radius: 10px;
  width: 700px!important;
  padding-bottom: 0;
}

.common-modal{
  width: 520px !important;
}

.common-modal .ant-modal-content{
  width: auto !important;
}

.common-modal .ant-modal-content .ant-modal-close {
  z-index: -1;
}

.common-modal .ant-modal-content .ant-modal-header{
  padding: 27px 0 12px;
  background: none;
  border-radius: 0;
  border-bottom: none;
}

.go-back {
  display: flex;
  align-items: center;
  margin-left: 50px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  max-width: max-content;
}

.go-back .modal__go-back-img{
  width: 17px;
  height: 17px;
  margin-right: 6px;
  transition: all .3s ease-in-out;
}

.go-back .modal__go-back{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #2B2F35;
}

.go-back:hover .modal__go-back-img{
  margin-right: 16px;
}

.go-back:hover {
  margin-left: 45px;
}

.common-modal .ant-modal-content .ant-modal-body {
  padding: 24px 85px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.common-modal__field-control{
  flex: 1 1 auto !important;
}

.common-modal__field-control .ant-form-item-control-input{
  min-height: initial;
}

.ant-modal-footer{
  padding: 30px 16px !important;
}

.register-modal{
  top:50px !important;
}

.ant-form-item-explain.ant-form-item-explain-error{
  position: absolute;
  bottom: -25px;
}

.ant-form label{
  display: flex;
}

/* MODAL STYLES */


::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.pagination{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
